* {margin: 0; padding: 0;}
*{-webkit-overflow-scrolling: touch}
html{position: relative;height: 100%;overflow: hidden;-webkit-text-size-adjust:none;}
html *{-webkit-text-size-adjust:none;}/*告诉浏览器去掉不要最小字号限制，可以通过transform改变*/
body{font-family: "Helvetica Neue",Helvetica,'STHeiTi',"Microsoft YaHei",sans-serif;-webkit-tap-highlight-color:rgba(0,0,0,0);outline: 0;line-height: 1;font-size: 0.14rem;color: #999;background-color: #f5f5f5; height: 100%;overflow: hidden;}
/*height: 100%;overflow: hidden; 加这个是为了 html里面的position: relative;height: 100%;，如果html写的是position: relative;min-height: 100%;则不需要加 */
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: normal;}
table{border-collapse: collapse;border-spacing: 0;}
fieldset,img{border:0;}
li{list-style:none;}
input,textarea,select,button,a{font-family: inherit;font-size: inherit;font-weight: inherit;background-color: none;outline: none;color:inherit;}
button,input[type="button"],input[type="reset"],input[type="submit"]{border: none;background: none;-webkit-appearance:none;}
a{-webkit-touch-callout:none;text-decoration: none!important;outlorder-radius:0;ine:0;cursor: pointer;}
em,i{font-style: normal;}
::-webkit-input-placeholder{color: #999;}
button{-webkit-touch-callout:none;cursor: pointer;}
.table{display: table;width: 100%;height: 100%;text-align: center;}
.table-cell{display: table-cell;vertical-align: middle;}
img{display: block;width: 100%;}
/*.iconfont{font-family: "iconfont";font-size: inherit;font-style: inherit;cursor: inherit;}*/
/*主要内容*/
.container{height: 100%;width:100%;background: url(../img/10.jpg) center no-repeat ;background-size:cover;text-align: center;position: absolute;z-index: 3;}
.container .start{height: 80px;width: 80px;display: inline-block;position: absolute;top: 80%;animation: aixin 1s linear 0s infinite;cursor: pointer;padding: 20px;}
.containerTwo{display: none;height: 100%;width:100%;background-color:#fff;background-size:cover;text-align: center;position: absolute;z-index: 2;cursor: pointer;}
.containerThree{display: none;;height: 100%;width:100%;background-color:#fff;position: absolute; perspective: 10000px;position: absolute;/*background: url(../img/444.jpg) center no-repeat ;background-size:cover;*/}
.word{font-size: 1.3rem;line-height: 2rem;position: absolute;left: 50%;top:50%;transform: translate(-50%,-50%);font-family: "黑体";}
.photoone{height: 5rem;width:3.4rem;position: absolute;left: 50%;top:80%;transform: translate(-50%,-50%);display: none;}
/*.displayNone{display: none;}*/
.displayNone p{color: #333;font-size: 2rem;line-height: 10rem;display: none;}
.displayNone p.gggg{color: #666;display: block;font-size: 1.7rem;line-height: 8rem;display: none;}
.displayNone i{color: #888;font-size: 1.3rem;line-height: 5rem;display: none;}
.displayNone div{background: url(../img/bbf.png) center no-repeat;height: 4rem;width: 100%;background-size: 6rem 1rem;display: none;}
.displayNone em{color: #999;font-size: 0.8rem;display: none;}
.ddddda{position: absolute;top: 120%;left:50%;transform: translateX(-50%);}
.ddd{background: url(../img/ddd.png) center no-repeat;background-size:contain;height: 10rem;width: 10rem;margin: 3rem auto 0;}

@keyframes aixin {
    0%{
        transform: scale(0.1) rotate(20deg);
    }
    100%{
        transform: scale(1) rotate(-10deg);
    }
}
.contain{background: url(../img/10.jpg) center no-repeat;background-size: 100% 100%;height: 100%;cursor: pointer; }


/*旋转*/


.containerThree section{
        margin: 10rem auto 0;
        height: 20rem;
        width: 16rem;
        background: url(../img/10.jpg) no-repeat;
        background-size: cover;
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
        /*transform: translate(-50%,-50%);*/
        transform-style: preserve-3d;
        /*transition: all 5s linear;*/
        animation: xuanzhan 5s linear 0s infinite;
        -webkit-animation: xuanzhan 5s linear 0s infinite;
        /*transform: rotate(30deg);*/
}
 section div {
        height: 20rem;
        width: 16rem;
        position: absolute;
       /* background-size: 100% 100%;*/
        top: 0;
        left: 0;
    }

    section div:nth-child(1) {
        background: url(../img/10.jpg) no-repeat;
        background-size: 100% 100%;
        transform: rotateX(0deg) translateZ(300px);
    }
    
    section div:nth-child(2) {
        background: url(../img/22.jpg) no-repeat;
        background-size: 100% 100%;
        transform: rotateX(60deg) translateZ(300px);
    }
    
    section div:nth-child(3) {
        background: url(../img/33.jpg) no-repeat;
        background-size: 100% 100%;
        transform: rotateX(120deg) translateZ(300px);
    }
    
    section div:nth-child(4) {
        background: url(../img/44.jpg) no-repeat;
        background-size: 100% 100%;
        transform: rotateX(180deg) translateZ(300px);
    }
    
    section div:nth-child(5) {
        background: url(../img/55.jpg) no-repeat;
        background-size: 100% 100%;
        transform: rotateX(240deg) translateZ(300px);
    }
    
    section div:nth-child(6) {
        background: url(../img/66.jpg) no-repeat;;
        background-size: 100% 100%;
        transform: rotateX(300deg) translateZ(300px);
    }
   @keyframes xuanzhan{
        0%{
            transform: rotateX(0deg);
        }
        100%{
            transform: rotateX(360deg);
        }
    }
    @-webkit-keyframes xuanzhan{
        0%{
            transform: rotateX(0deg);
        }
        100%{
            transform: rotateX(360deg);
        }
    }

/*音乐播放和音乐旋转动画+点击蒙层*/
.musics{display: none;}
.mmuph{background:url(../img/mu.png) center no-repeat;background-size:100% 100%;height: 2rem;width: 2rem;position: fixed;right:1.4em;top:1.2rem;cursor: pointer;z-index: 30px;z-index: 999;}
.mmuphh{animation: ear 3s linear 0s infinite;-webkit-animation: ear 3s linear 0s infinite;-o-animation: ear 3s linear 0s infinite;-ms-animation: ear 3s linear 0s infinite;-moz-animation: ear 3s linear 0s infinite;}
@keyframes ear {
	0%{
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
 	}
}
@-webkit-keyframes ear {
	0%{
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
 	}
}
.qq{height: 1.6rem;width: 1.6rem;position: absolute;border-right: 1px solid #999;transform: rotate(45deg) translateX(-0.6rem);-webkit-transform: rotate(45deg) translateX(-0.6rem);-ms-transform: rotate(45deg) translateX(-0.6rem);-moz-transform: rotate(45deg) translateX(-0.6rem);-o-transform: rotate(45deg) translateX(-0.6rem);transform: rotate(45deg) translateX(-0.6rem); }